/* You can add global styles to this file, and also import other style files */


/* 导入element-ui样式 */

@import "~element-angular/theme/index.css";
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button {
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

a {
    text-decoration: none;
}